* {
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0;
} 

.navbar-custom{
	background-color: #18631d;
	border: none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
	background-color: transparent;
}

.navbar-brand{
	color: #fff !important;
}

.main-section{
	height: 100vh;
	background-image: url('../original.jpg');
	background-size: cover;
	color: black;
}

.m-0{
	margin: 0; 
}

.text-order{
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	color: white;
}

.group-style{
	height: 50px;
}

.container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 5%;
}

.team-pic{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.text-about{
	margin-top: 25%;
}

.mySlides{
	display:none
}

.row-boto{
	background-color: #18631d;
	background-image: url('../white-green6.jpeg');
	color: grey;
	height: 70px;
	font-family: verdana;
}

.vid-peop{

}

.demo{
	cursor:pointer
}

.laptop{
	padding: 10%;
}

.text-us{
	margin-top: 10%;
	margin-right: 2%;
}

.about{
	background-image: url('../white-abstract.jpg');
	background-size: cover;
	color: black;
}

.why-we{
	margin-top: 4%;
	background-image: url('../white-green4.jpg');
	color: black;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.rew-pic{
	height: 100px;
	width: 100px;
	margin: 100px;
}

.deep{
	margin-bottom: 4%;
}

.diip{
	margin-bottom: 20%;
}

.gal-name{
	margin-top: 4%;
}

.our-team{
	padding-top: 2%;
}

.gal-text{
	margin-bottom: 4%;
}

.production{
	margin-top: 5%;
}

.main-text{
	margin-top: 50%
}

.text-center{
	margin-bottom: 5%;
}

.first-row{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10%;
}

